@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, light --prefersdark;
}

:root {
  .text-fluid-title {
    font-size: clamp(1.5rem, 4vw + 0.5rem, 3rem);
  }

  .text-fluid-body {
    font-size: clamp(1rem, 2vw + 0.25rem, 1.25rem);
  }
}
