@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, light --prefersdark;
}

:root {
  --color-primary: #0279b1;
  --color-secondary: #5ea61b;
  --text-base: clamp(14px, 0.7vw, 24px);
  --text-lg: clamp(22px, 0.9vw, 32px);
  --text-xl: clamp(26px, 1vw, 36px);
}

/* ✅ Correct font clamp syntax */
html {
  font-family: "Montserrat Variable", sans-serif;
  font-size: clamp(14px, 0.5vw, 20px);
  @apply bg-base-200;
}

.recharts-text {
  font-family: "Montserrat Variable", sans-serif;
  font-size: clamp(14px, 0.7vw, 24px);
  font-weight: 500;
  fill: #333;
}

a.active {
  @apply bg-primary relative text-white hover:bg-transparent hover:shadow-none hover:text-white;
}

a.active::after {
  content: "▼"; /* The arrow symbol */
  font-size: 1rem; /* Make it smaller */
  margin-left: 0.5em; /* Add a little spacing */
  display: inline-block; /* So it sits nicely next to text */
  color: #0279b1;
  left: 50%;
  bottom: 100%;
  transform: translate(-100%, 0); /* centers horizontally */
  position: absolute; /* Optional: vertically center it a bit */
}
